.page {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  font-family: sans-serif;
}

.main {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30%;
}

.main__container:hover > .meme {
  transition: 0.3s all;
  color: #a8a6a6;
}

.meme__arrow {
  opacity: 0;
  filter: invert(60%);
}

.main__container:hover .meme__arrow {
  transition: 0.3s all;
  opacity: 1;
}

.meme {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top: 0.02rem solid #8d8d8d;
}

.meme label {
  display: block;
  width: 90%;
  height: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.meme__arrow {
  width: 5%;
}

.meme__wrapper {
  width: 100%;
  max-height: 0;
  transition: 1s all;
  overflow: hidden;
}

.meme__img {
  width: 100%;
}

input {
  position: absolute;
  display: none;
  z-index: -1;
}

input:checked ~ .meme__wrapper {
  max-height: 100vh;
}

input:checked ~ .meme__arrow {
  transition: 0.3s all;
  transform: rotate(90deg);
  filter: invert(60%);
}

input:not(:checked) ~ .meme__wrapper {
  transition: 0.3s all;
  width: 100%;
  max-height: 0;
  overflow: hidden;
}

input:not(:checked) ~ .meme__arrow {
  transition: 0.3s all;
  transform: rotate(0deg);
}
